<a href="https://colab.research.google.com/github/pcpiscator/Curso-Hashtag/blob/main/AcoesMercfin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.dates as mdates

In [20]:
import pandas_datareader.data as pdr
from datetime import datetime, timedelta

In [21]:
acoes = pd.read_excel('Acaohist.xlsx')

In [22]:
acoes.head()

        data     abre  fecho    min      hmin    max      hmax
0 2022-08-12    29.10  31.67  29.08  10:10:00  31.83  16:38:00
1 2022-08-15    30.88  31.60  30.55  12:20:00  32.23  13:30:00
2 2022-08-16    31.72  32.01  31.50  10:02:00  32.07  16:38:00
3 2022-08-17    31.65  32.72  31.60  10:05:00  32.82  17:28:00
4 2022-08-18    33.10  33.42  32.87  11:33:00  33.66  10:04:00

In [23]:
acoes.tail()

         data     abre  fecho    min      hmin    max      hmax
19 2022-09-09    32.49  31.76  31.70  16:40:00  32.67  10:13:00
20 2022-09-12    32.15  31.55  31.46  16:53:00  32.73  10:10:00
21 2022-09-13    30.94  30.61  30.52  16:45:00  31.44  10:08:00
22 2022-09-14    30.75  31.14  30.63  10:01:00  31.43  10:45:00
23 2022-09-15    30.92  31.02  30.80  11:59:00  31.23  11:45:00

In [24]:
acoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0     data   24 non-null     datetime64[ns]
 1      abre  24 non-null     float64
 2   fecho    24 non-null     float64
 3    min     24 non-null     float64
 4   hmin     24 non-null     object
 5    max     24 non-null     float64
 6     hmax   24 non-null     object
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 1.4+ KB

In [25]:
acoes.describe()

            abre      fecho        min        max
count  24.000000  24.000000  24.000000  24.000000
mean   32.406667  32.449583  31.801250  33.091667
std     1.298064   0.986207   1.113199   1.065122
min    29.100000  30.610000  29.080000  31.230000
25%    31.702500  31.722500  31.197500  32.492500
50%    32.400000  32.335000  31.650000  32.985000
75%    33.405000  33.290000  32.692500  33.990000
max    34.440000  34.370000  33.450000  35.080000

In [28]:
#Verificar
#acoes[['max', 'min']].plot(figsize=(15, 4), title='Ações Petrobras-PETR4', grid=True)