<a href="https://colab.research.google.com/github/pcpiscator/Curso-Hashtag/blob/main/AcoesMercfin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.dates as mdates

In [ ]:
import pandas_datareader.data as pdr
from datetime import datetime, timedelta

In [ ]:
acoes = pd.read_excel('Acaohist.xlsx')

In [ ]:
acoes.head()

        data     abre  fecho    min      hmin    max      hmax
0 2022-08-12    29.10  31.67  29.08  10:10:00  31.83  16:38:00
1 2022-08-15    30.88  31.60  30.55  12:20:00  32.23  13:30:00
2 2022-08-16    31.72  32.01  31.50  10:02:00  32.07  16:38:00
3 2022-08-17    31.65  32.72  31.60  10:05:00  32.82  17:28:00
4 2022-08-18    33.10  33.42  32.87  11:33:00  33.66  10:04:00