<a href="https://colab.research.google.com/github/pcpiscator/Diversos22/blob/main/IntensPyth0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [1]:
pip install twilio

Collecting twilio
  Downloading twilio-7.9.0-py2.py3-none-any.whl (1.4 MB)
     |████████████████████████████████| 1.4 MB 7.8 MB/s
Collecting PyJWT<3.0.0,>=2.0.0
  Downloading PyJWT-2.3.0-py3-none-any.whl (16 kB)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from twilio) (2022.1)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from twilio) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->twilio) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->twilio) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->twilio) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->twilio) (3.0.4)
Installing collected packages: PyJWT, twilio
Successfully installed PyJWT-2.3.0 twilio-7.9.0

In [3]:
from twilio.rest import Client

In [4]:
pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

In [5]:
lista_meses = ['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',]

In [7]:
tabela_vendas = pd.read_excel('janeiro.xlsx')

In [ ]:
print(tabela_vendas)

      Vendedor  Vendas
0        Maria   41006
1     Giuseppe   38162
2         Anna   24992
3     Giovanni   30826
4      Antonio   22208
..         ...     ...
995     Glauco   26294
996      Georg   30144
997     Tullia   36002
998  Pancrazio   31030
999        Gio   37629

[1000 rows x 2 columns]

In [12]:
#ex. de for
for mes in lista_meses:
   print(mes)

janeiro
fevereiro
março
abril
maio
junho

In [19]:
for mes in lista_meses:
    tabela_vendas = pd.read_excel(f'{mes}.xlsx')
    display(mes,tabela_vendas)

'janeiro'

      Vendedor  Vendas
0        Maria   41006
1     Giuseppe   38162
2         Anna   24992
3     Giovanni   30826
4      Antonio   22208
..         ...     ...
995     Glauco   26294
996      Georg   30144
997     Tullia   36002
998  Pancrazio   31030
999        Gio   37629

[1000 rows x 2 columns]

'fevereiro'

      Vendedor  Vendas
0        Maria   25193
1     Giuseppe   27174
2         Anna   34971
3     Giovanni   17164
4      Antonio   22807
..         ...     ...
995     Glauco   27516
996      Georg   49195
997     Tullia   33760
998  Pancrazio   49937
999        Gio   38870

[1000 rows x 2 columns]

'março'

      Vendedor  Vendas
0        Maria   22876
1     Giuseppe   31953
2         Anna   17180
3     Giovanni   32777
4      Antonio   39083
..         ...     ...
995     Glauco   26581
996      Georg   22899
997     Tullia   19810
998  Pancrazio   37649
999        Gio   23864

[1000 rows x 2 columns]

'abril'

      Vendedor  Vendas
0        Maria   18662
1     Giuseppe   28843
2         Anna   23288
3     Giovanni   28157
4      Antonio   48740
..         ...     ...
995     Glauco   39915
996      Georg   37902
997     Tullia   46760
998  Pancrazio   31245
999        Gio   37739

[1000 rows x 2 columns]

'maio'

      Vendedor  Vendas
0        Maria   41006
1     Giuseppe   38162
2         Anna   24992
3     Giovanni   30826
4      Antonio   22208
..         ...     ...
995     Glauco   26294
996      Georg   30144
997     Tullia   36002
998  Pancrazio   31030
999        Gio   37629

[1000 rows x 2 columns]

'junho'

      Vendedor  Vendas
0        Maria   48539
1     Giuseppe   27292
2         Anna   45813
3     Giovanni   17049
4      Antonio   15988
..         ...     ...
995     Glauco   15842
996      Georg   37695
997     Tullia   42438
998  Pancrazio   35274
999        Gio   47662

[1000 rows x 2 columns]

In [27]:
for mes in lista_meses:
    tabela_vendas = pd.read_excel(f'{mes}.xlsx')
    if (tabela_vendas['Vendas'] >55000).any():
       print(f'no mes de {mes}, encontou alguem com mais de 55000')

no mes de maio, encontou alguem com mais de 55000

In [38]:
for mes in lista_meses:
    tabela_vendas = pd.read_excel(f'{mes}.xlsx')
    if (tabela_vendas['Vendas'] >55000).any():
      vendedor= tabela_vendas.loc[tabela_vendas['Vendas'] >55000,'Vendedor'].values[0]
      vendas= tabela_vendas.loc[tabela_vendas['Vendas'] >55000,'Vendas'].values[0]
      print(f'no mes de {mes}, alguem bateu a meta. Vendedor:{vendedor}, Vendas:{vendas}')

no mes de maio, alguem bateu a meta. Vendedor:Hash, Vendas:57312