<a href="https://colab.research.google.com/github/pcpiscator/Curso-Hashtag/blob/main/Projeto_4_Arquivo_Inicial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto Ciência de Dados - Previsão de Preços

- Nosso desafio é conseguir prever o preço de barcos que vamos vender baseado nas características do barco, como: ano, tamanho, tipo de barco, se é novo ou usado, qual material usado, etc.

- Base de Dados: https://drive.google.com/drive/folders/1o2lpxoi9heyQV1hIlsHXWSfDkBPtze-V?usp=share_link

### Passo a Passo de um Projeto de Ciência de Dados

- Passo 1: Entendimento do Desafio
- Passo 2: Entendimento da Área/Empresa
- Passo 3: Extração/Obtenção de Dados
- Passo 4: Ajuste de Dados (Tratamento/Limpeza)
- Passo 5: Análise Exploratória
- Passo 6: Modelagem + Algoritmos (Aqui que entra a Inteligência Artificial, se necessário)
- Passo 7: Interpretação de Resultados

In [ ]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
import pandas as pd
tabela = pd.read_excel("/barcos_ref.xlsx")

In [ ]:
display(tabela)

      Preco  TipoBarco  TipoVenda   Ano  Comprimento  Largura  Material
0      3490          1          1  2020         4.00     1.50         1
1      3399          2          1  2019         3.55     1.46         2
2      3600          3          2  1999         6.20     2.38         2
3      3500          2          2  1987         4.35     1.75         3
4      3500          4          2  2004         4.70     2.00         3
...     ...        ...        ...   ...          ...      ...       ...
7644   5000          7          2  1974         7.20     2.70         3
7645   4999          4          2  1980         6.00     2.10         3
7646   4950          2          2  1984         6.00     1.62         5
7647   4499          4          1  2020         4.40     1.80         3
7648   3780          2          1  2019         3.60     1.60         3

[7649 rows x 7 columns]

In [ ]:
print(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7649 entries, 0 to 7648
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Preco        7649 non-null   int64
 1   TipoBarco    7649 non-null   int64
 2   TipoVenda    7649 non-null   int64
 3   Ano          7649 non-null   int64
 4   Comprimento  7649 non-null   float64
 5   Largura      7649 non-null   float64
 6   Material     7649 non-null   int64
dtypes: float64(2), int64(5)
memory usage: 418.4 KB
None

In [40]:
display(tabela.corr())

,Preco,TipoBarco,TipoVenda,Ano,Comprimento,Largura,Material
Preco,1.000000,0.293137,0.041266,0.113385,0.578353,0.557621,-0.036476
TipoBarco,0.293137,1.000000,0.142893,-0.130147,0.541307,0.567662,0.083989
TipoVenda,0.041266,0.142893,1.000000,-0.195147,0.148886,0.163431,0.054972
Ano,0.113385,-0.130147,-0.195147,1.000000,-0.211120,-0.105949,-0.440310
Comprimento,0.578353,0.541307,0.148886,-0.211120,1.000000,0.874952,0.123300
Largura,0.557621,0.567662,0.163431,-0.105949,0.874952,1.000000,0.084715
Material,-0.036476,0.083989,0.054972,-0.440310,0.123300,0.084715,1.000000